.elementor-kit-14 {
  --e-global-color-primary: #19713E;
  --e-global-color-secondary: #081340;
  --e-global-color-text: #767676;
  --e-global-color-accent: #1975FF;
  --e-global-color-ef60fbf: #FFFFFF;
  --e-global-color-1461e2e: #727F9C;
  --e-global-color-1bb494b: #F0F2F7;
  --e-global-color-bfcb9e8: #DDDDDD;
  --e-global-typography-primary-font-family: "Poppins";
  --e-global-typography-primary-font-size: 60px;
  --e-global-typography-primary-font-weight: 800;
  --e-global-typography-secondary-font-family: "Poppins";
  --e-global-typography-secondary-font-size: 44px;
  --e-global-typography-secondary-font-weight: 800;
  --e-global-typography-secondary-line-height: 1.2em;
  --e-global-typography-text-font-family: "Poppins";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 500;
  --e-global-typography-accent-font-family: "Poppins";
  --e-global-typography-accent-font-size: 16px;
  --e-global-typography-accent-font-weight: 800;
  --e-global-typography-44170b2-font-family: "Poppins";
  --e-global-typography-44170b2-font-size: 16px;
  --e-global-typography-44170b2-font-weight: 600;
  --e-global-typography-8a8d33d-font-family: "Poppins";
  --e-global-typography-8a8d33d-font-size: 16px;
  --e-global-typography-8a8d33d-font-weight: 400;
  --e-global-typography-a229850-font-family: "Poppins";
  --e-global-typography-a229850-font-size: 28px;
  --e-global-typography-a229850-font-weight: 700;
  --e-global-typography-ca64df9-font-family: "Poppins";
  --e-global-typography-ca64df9-font-size: 22px;
  --e-global-typography-ca64df9-font-weight: 600;
  --e-global-typography-05ecb78-font-family: "Poppins";
  --e-global-typography-05ecb78-font-size: 20px;
  --e-global-typography-05ecb78-font-weight: 700;
  --e-global-typography-b3410d3-font-family: "Poppins";
  --e-global-typography-b3410d3-font-size: 120px;
  --e-global-typography-b3410d3-font-weight: 700;
  --e-global-typography-b3410d3-text-transform: none;
  --e-global-typography-b3410d3-line-height: 1em;
  --e-global-typography-281dfd1-font-family: "Poppins";
  --e-global-typography-281dfd1-font-size: 22px;
  --e-global-typography-281dfd1-font-weight: 400;
  --e-global-typography-281dfd1-font-style: italic;
  --e-global-typography-281dfd1-letter-spacing: 2px;
  --e-global-typography-341c4b4-font-family: "Poppins";
  --e-global-typography-341c4b4-font-size: 44px;
  --e-global-typography-341c4b4-font-weight: 400;
  --e-global-typography-341c4b4-line-height: 1.2em;
  --e-global-typography-513d66c-font-family: "Poppins";
  --e-global-typography-513d66c-font-size: 16px;
  --e-global-typography-513d66c-font-weight: 700;
  --e-global-typography-513d66c-font-style: italic;
  --e-global-typography-3da6028-font-family: "Poppins";
  --e-global-typography-3da6028-font-size: 34px;
  --e-global-typography-3da6028-font-weight: 600;
  color: var(--e-global-color-text);
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.elementor-kit-14 button,
.elementor-kit-14 input[type="button"],
.elementor-kit-14 input[type="submit"],
.elementor-kit-14 .elementor-button {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-ef60fbf);
  border-radius: 0px 0px 0px 0px;
  padding: 20px 40px 20px 40px;
}

.elementor-kit-14 button:hover,
.elementor-kit-14 button:focus,
.elementor-kit-14 input[type="button"]:hover,
.elementor-kit-14 input[type="button"]:focus,
.elementor-kit-14 input[type="submit"]:hover,
.elementor-kit-14 input[type="submit"]:focus,
.elementor-kit-14 .elementor-button:hover,
.elementor-kit-14 .elementor-button:focus {
  background-color: #A2CC4F;
  color: var(--e-global-color-ef60fbf);
}

.elementor-kit-14 e-page-transition {
  background-color: #FFBC7D;
}

.elementor-kit-14 a {
  color: var(--e-global-color-primary);
}

.elementor-kit-14 a:hover {
  color: var(--e-global-color-secondary);
}

.elementor-kit-14 h1 {
  color: var(--e-global-color-ef60fbf);
  font-family: "Poppins", Sans-serif;
  font-size: 60px;
  font-weight: 800;
}

.elementor-kit-14 h2 {
  color: var(--e-global-color-secondary);
  font-family: "Poppins", Sans-serif;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2em;
}

.elementor-kit-14 h3 {
  color: var(--e-global-color-secondary);
  font-family: "Poppins", Sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.elementor-kit-14 h4 {
  color: var(--e-global-color-secondary);
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.elementor-kit-14 h5 {
  color: var(--e-global-color-secondary);
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.elementor-kit-14 label {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-kit-14 input:not([type="button"]):not([type="submit"]),
.elementor-kit-14 textarea,
.elementor-kit-14 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-bfcb9e8);
  border-radius: 0px 0px 0px 0px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1140px;
}

.e-con {
  --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}

.elementor-element {
  --widgets-spacing: 20px 20px;
}

  {}

h1.entry-title {
  display: var(--page-title-display);
}

.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}

.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}

.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}

@media(max-width:1024px) {
  .elementor-kit-14 {
    --e-global-typography-primary-font-size: 50px;
    --e-global-typography-secondary-font-size: 34px;
    --e-global-typography-text-font-size: 15px;
    --e-global-typography-accent-font-size: 15px;
    --e-global-typography-44170b2-font-size: 15px;
    --e-global-typography-8a8d33d-font-size: 15px;
    --e-global-typography-a229850-font-size: 22px;
    --e-global-typography-ca64df9-font-size: 20px;
    --e-global-typography-05ecb78-font-size: 18px;
    --e-global-typography-b3410d3-font-size: 80px;
    --e-global-typography-281dfd1-font-size: 20px;
    --e-global-typography-341c4b4-font-size: 34px;
    --e-global-typography-513d66c-font-size: 15px;
    --e-global-typography-3da6028-font-size: 26px;
    font-size: 15px;
  }

  .elementor-kit-14 h1 {
    font-size: 50px;
  }

  .elementor-kit-14 h2 {
    font-size: 34px;
  }

  .elementor-kit-14 h3 {
    font-size: 22px;
  }

  .elementor-kit-14 h4 {
    font-size: 20px;
  }

  .elementor-kit-14 h5 {
    font-size: 18px;
  }

  .elementor-kit-14 button,
  .elementor-kit-14 input[type="button"],
  .elementor-kit-14 input[type="submit"],
  .elementor-kit-14 .elementor-button {
    padding: 18px 30px 18px 30px;
  }

  .elementor-kit-14 label {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-kit-14 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-14 textarea,
  .elementor-kit-14 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1024px;
  }

  .e-con {
    --container-max-width: 1024px;
  }
}

@media(max-width:767px) {
  .elementor-kit-14 {
    --e-global-typography-primary-font-size: 40px;
    --e-global-typography-secondary-font-size: 28px;
    --e-global-typography-text-font-size: 14px;
    --e-global-typography-accent-font-size: 14px;
    --e-global-typography-44170b2-font-size: 14px;
    --e-global-typography-8a8d33d-font-size: 14px;
    --e-global-typography-a229850-font-size: 20px;
    --e-global-typography-ca64df9-font-size: 18px;
    --e-global-typography-05ecb78-font-size: 16px;
    --e-global-typography-b3410d3-font-size: 44px;
    --e-global-typography-281dfd1-font-size: 16px;
    --e-global-typography-281dfd1-letter-spacing: 1px;
    --e-global-typography-341c4b4-font-size: 28px;
    --e-global-typography-513d66c-font-size: 14px;
    --e-global-typography-3da6028-font-size: 20px;
    font-size: 14px;
  }

  .elementor-kit-14 h1 {
    font-size: 40px;
  }

  .elementor-kit-14 h2 {
    font-size: 28px;
  }

  .elementor-kit-14 h3 {
    font-size: 20px;
  }

  .elementor-kit-14 h4 {
    font-size: 18px;
  }

  .elementor-kit-14 h5 {
    font-size: 16px;
  }

  .elementor-kit-14 button,
  .elementor-kit-14 input[type="button"],
  .elementor-kit-14 input[type="submit"],
  .elementor-kit-14 .elementor-button {
    padding: 15px 30px 15px 30px;
  }

  .elementor-kit-14 label {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-kit-14 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-14 textarea,
  .elementor-kit-14 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 767px;
  }

  .e-con {
    --container-max-width: 767px;
  }
}

.elementor-710 .elementor-element.elementor-element-169d11ea:not(.elementor-motion-effects-element-type-background),
.elementor-710 .elementor-element.elementor-element-169d11ea>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #ED520D;
}

.elementor-710 .elementor-element.elementor-element-169d11ea {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-710 .elementor-element.elementor-element-169d11ea>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-710 .elementor-element.elementor-element-79b3a173.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-710 .elementor-element.elementor-element-79b3a173.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-710 .elementor-element.elementor-element-a50a199 {
  text-align: center;
}

.elementor-710 .elementor-element.elementor-element-a50a199 .elementor-heading-title {
  color: #FFFFFF;
  font-family: "Manrope", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
}

.elementor-710 .elementor-element.elementor-element-5e61938 .elementor-button {
  background-color: #FFFFFF;
  fill: #070707;
  color: #070707;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 20px 10px 20px;
}

.elementor-710 .elementor-element.elementor-element-d5c369f:not(.elementor-motion-effects-element-type-background),
.elementor-710 .elementor-element.elementor-element-d5c369f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #0D0D0D;
}

.elementor-710 .elementor-element.elementor-element-d5c369f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 35px 0px 35px 0px;
}

.elementor-710 .elementor-element.elementor-element-d5c369f>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-710 .elementor-element.elementor-element-574b329:not(.elementor-motion-effects-element-type-background),
.elementor-710 .elementor-element.elementor-element-574b329>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #E9EBE9;
  background-image: url("/assets/images/bg-topo-escuro.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.elementor-710 .elementor-element.elementor-element-574b329>.elementor-container {
  max-width: 990px;
}

.elementor-710 .elementor-element.elementor-element-574b329 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #E6DEDE;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-710 .elementor-element.elementor-element-574b329>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-710 .elementor-element.elementor-element-6d0af0a.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-710 .elementor-element.elementor-element-6d0af0a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-710 .elementor-element.elementor-element-44ece10 .elementor-heading-title {
  color: #E0E0E0;
  font-family: "Manrope", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
}

.elementor-710 .elementor-element.elementor-element-3ac498e>.elementor-widget-container {
  margin: 0px 0px 35px 0px;
}

.elementor-710 .elementor-element.elementor-element-3ac498e {
  text-align: left;
}

.elementor-710 .elementor-element.elementor-element-3ac498e .elementor-heading-title {
  color: #ED520D;
  font-family: "Manrope", Sans-serif;
  font-size: 55px;
  font-weight: 900;
  line-height: 51px;
}

.elementor-bc-flex-widget .elementor-710 .elementor-element.elementor-element-21faa2b.elementor-column .elementor-widget-wrap {
  align-items: flex-end;
}

.elementor-710 .elementor-element.elementor-element-21faa2b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}

.elementor-710 .elementor-element.elementor-element-21faa2b>.elementor-element-populated {
  padding: 0px 15px 0px 015px;
}

.elementor-710 {
  margin: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
  .elementor-710 .elementor-element.elementor-element-169d11ea>.elementor-container {
    max-width: 500px;
  }

  .elementor-710 .elementor-element.elementor-element-169d11ea {
    padding: 10px 0px 10px 0px;
  }

  .elementor-710 .elementor-element.elementor-element-a50a199 {
    text-align: center;
  }

  .elementor-710 .elementor-element.elementor-element-d5c369f>.elementor-container {
    max-width: 500px;
  }

  .elementor-710 .elementor-element.elementor-element-d5c369f {
    padding: 30px 10px 30px 10px;
  }

  .elementor-710 .elementor-element.elementor-element-574b329>.elementor-container {
    max-width: 768px;
  }

  .elementor-710 .elementor-element.elementor-element-574b329 {
    padding: 0px 10px 0px 10px;
  }

  .elementor-710 .elementor-element.elementor-element-44ece10 {
    text-align: center;
  }

  .elementor-710 .elementor-element.elementor-element-3ac498e {
    text-align: center;
  }
}

@media(max-width:767px) {
  .elementor-710 .elementor-element.elementor-element-169d11ea {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .elementor-710 .elementor-element.elementor-element-a50a199 .elementor-heading-title {
    font-size: 14px;
    line-height: 1.3em;
  }

  .elementor-710 .elementor-element.elementor-element-d5c369f {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .elementor-710 .elementor-element.elementor-element-161855b>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
  }

  .elementor-710 .elementor-element.elementor-element-574b329:not(.elementor-motion-effects-element-type-background),
  .elementor-710 .elementor-element.elementor-element-574b329>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .elementor-710 .elementor-element.elementor-element-574b329 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .elementor-710 .elementor-element.elementor-element-44ece10 .elementor-heading-title {
    font-size: 18px;
  }

  .elementor-710 .elementor-element.elementor-element-3ac498e>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
  }

  .elementor-710 .elementor-element.elementor-element-3ac498e .elementor-heading-title {
    font-size: 30px;
    line-height: 1.1em;
  }

  .elementor-710 .elementor-element.elementor-element-ad36cfc>.elementor-widget-container {
    padding: 0px 30px 0px 30px;
  }
}

@media(min-width:768px) {
  .elementor-710 .elementor-element.elementor-element-79b3a173 {
    width: 81.491%;
  }

  .elementor-710 .elementor-element.elementor-element-9a1981b {
    width: 18.423%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-710 .elementor-element.elementor-element-79b3a173 {
    width: 100%;
  }

  .elementor-710 .elementor-element.elementor-element-9a1981b {
    width: 100%;
  }

  .elementor-710 .elementor-element.elementor-element-749a8cb {
    width: 100%;
  }

  .elementor-710 .elementor-element.elementor-element-6d0af0a {
    width: 100%;
  }

  .elementor-710 .elementor-element.elementor-element-21faa2b {
    width: 100%;
  }
}

.elementor-712 .elementor-element.elementor-element-f891df8 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 40px;
  --padding-bottom: 40px;
  --padding-left: 15px;
  --padding-right: 15px;
}

.elementor-712 .elementor-element.elementor-element-f891df8:not(.elementor-motion-effects-element-type-background),
.elementor-712 .elementor-element.elementor-element-f891df8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #312F2F;
}

.elementor-712 .elementor-element.elementor-element-f891df8,
.elementor-712 .elementor-element.elementor-element-f891df8::before {
  --border-transition: 0.3s;
}

.elementor-712 .elementor-element.elementor-element-b04cafc>.elementor-widget-container {
  padding: 0px 0px 0px 0px;
}

.elementor-712 .elementor-element.elementor-element-b04cafc {
  text-align: center;
}

.elementor-712 .elementor-element.elementor-element-b04cafc .elementor-heading-title {
  color: #E7E7E7;
  font-family: "Manrope", Sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
}

.elementor-712 .elementor-element.elementor-element-1239397 .elementor-button {
  background-color: #FFFFFF;
  fill: #070707;
  color: #070707;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 20px 10px 20px;
}

.elementor-712 .elementor-element.elementor-element-12feac4 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 40px;
  --padding-bottom: 30px;
  --padding-left: 15px;
  --padding-right: 15px;
}

.elementor-712 .elementor-element.elementor-element-12feac4:not(.elementor-motion-effects-element-type-background),
.elementor-712 .elementor-element.elementor-element-12feac4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: #F6F6F6;
}

.elementor-712 .elementor-element.elementor-element-12feac4,
.elementor-712 .elementor-element.elementor-element-12feac4::before {
  --border-transition: 0.3s;
}

.elementor-712 .elementor-element.elementor-element-761b918 {
  text-align: center;
}

.elementor-712 .elementor-element.elementor-element-761b918 .elementor-heading-title {
  color: #135899;
  font-family: "Manrope", Sans-serif;
  font-size: 30px;
}

.elementor-712 .elementor-element.elementor-element-27ed8ea>.elementor-widget-container {
  padding: 0px 0px 40px 0px;
}

.elementor-712 .elementor-element.elementor-element-27ed8ea {
  text-align: center;
}

.elementor-712 .elementor-element.elementor-element-27ed8ea .elementor-heading-title {
  color: #8D8D8D;
  font-family: "Manrope", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.elementor-712 .elementor-element.elementor-element-e7abcd3 {
  --display: flex;
  --background-transition: 0.3s;
}

.elementor-712 .elementor-element.elementor-element-951d8ff {
  text-align: center;
}

.elementor-712 .elementor-element.elementor-element-951d8ff .elementor-heading-title {
  color: #8D8D8D;
  font-family: "Manrope", Sans-serif;
  font-size: 13px;
  font-weight: 400;
}

@media(max-width:767px) {
  .elementor-712 .elementor-element.elementor-element-b04cafc>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
  }

  .elementor-712 .elementor-element.elementor-element-b04cafc .elementor-heading-title {
    font-size: 15px;
    line-height: 1.2em;
  }

  .elementor-712 .elementor-element.elementor-element-761b918>.elementor-widget-container {
    padding: 0px 20px 0px 20px;
  }

  .elementor-712 .elementor-element.elementor-element-27ed8ea>.elementor-widget-container {
    padding: 0px 20px 40px 20px;
  }
}

@media(min-width:768px) {
  .elementor-712 .elementor-element.elementor-element-f891df8 {
    --content-width: 800px;
  }

  .elementor-712 .elementor-element.elementor-element-12feac4 {
    --content-width: 800px;
  }
}

.elementor-605 .elementor-element.elementor-element-6c222770 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}

#elementor-popup-modal-605 {
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

#elementor-popup-modal-605 .dialog-message {
  width: 640px;
  height: auto;
}

#elementor-popup-modal-605 .dialog-close-button {
  display: flex;
}

#elementor-popup-modal-605 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

.elementor-514 .elementor-element.elementor-element-78552a32 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}

#elementor-popup-modal-514 {
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

#elementor-popup-modal-514 .dialog-message {
  width: 640px;
  height: auto;
}

#elementor-popup-modal-514 .dialog-close-button {
  display: flex;
}

#elementor-popup-modal-514 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

.elementor-511 .elementor-element.elementor-element-5e4fb8ed {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}

#elementor-popup-modal-511 {
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

#elementor-popup-modal-511 .dialog-message {
  width: 640px;
  height: auto;
}

#elementor-popup-modal-511 .dialog-close-button {
  display: flex;
}

#elementor-popup-modal-511 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

.elementor-509 .elementor-element.elementor-element-1c11ba5a {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}

#elementor-popup-modal-509 {
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

#elementor-popup-modal-509 .dialog-message {
  width: 640px;
  height: auto;
}

#elementor-popup-modal-509 .dialog-close-button {
  display: flex;
}

#elementor-popup-modal-509 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

.elementor-507 .elementor-element.elementor-element-38012354 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}

#elementor-popup-modal-507 {
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

#elementor-popup-modal-507 .dialog-message {
  width: 640px;
  height: auto;
}

#elementor-popup-modal-507 .dialog-close-button {
  display: flex;
}

#elementor-popup-modal-507 .dialog-widget-content {
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}